body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.footer .footer_embrace {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 242px;
}
.footer .footer_embrace .footer_container h6 {
  font-weight: bold;
  font-size: 20px;
}
.footer .footer_embrace .footer_container a {
  text-decoration: none !important;
  color: #c11b1b;
  width: 90px;
  height: 32px;
  top: 15px;
}
.footer .footer_embrace .footer_container .first_row {
  background-color: rgb(250, 250, 250);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .footer_embrace .footer_container .second_row {
  background-color: rgb(236, 236, 236);
  padding-top: 30px;
  padding-bottom: 30px;
}